
<div class="d-flex flex-row justify-content-evenly bg-white p-2">
  <div id="logoImage"><a href="{{ path('app_home') }}"><img id="logo" href="#" src="{{ asset('img/logo.png') }}" alt="Logo"></a></div>
  <div>
      <h1 class="header-text fw-bold">Todo List</h1>
      <h2 class="header-text text-dark fst-italic">Vos tâches en ligne</h2>
  </div>
  {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
    <div class="d-flex flex-column mt-2">
      <div><img src="{{ asset('img/logged.png') }}">&nbsp;{{ app.user.firstName }} {{ app.user.lastName }}</div>
      <div class="mt-1"><a href=" {{ path('app_logout') }} ">Se déconnecter</a></div>
    </div>
  {% else %}
    <button class="text-decoration-none text-white btn btn-md btn-success btn-rounded m-3" onclick="window.location='{{ path('app_login') }}'">Se connecter</button>
  {% endif %}
</div>
<div class="container-fluid bg-secondary p-1"></div>
