<!DOCTYPE html>
<html lang="fr">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Todo List">
    <meta name="author" content="Nicolas Deroo">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <title>Todo List</title>
    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('css/external/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ asset('css/styles.css') }}" rel="stylesheet">
  </head>

  <body>
    <div id="content">
      {% block content %}{% endblock %}
    </div>
    <!-- Bootstrap JS -->
    <script src="{{ asset('js/external/bootstrap.bundle.min.js') }}"></script>
    <!-- jQuery -->
    <script src="{{ asset('js/external/jquery.js') }}"></script>
    <!-- jQuery UI -->
    <script src="{{ asset('js/external/jquery-ui.min.js') }}"></script>
    <!-- Personal script -->
    <script src="{{ asset('js/script.js') }}"></script>
  </body>

</html>
